.pagination {
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 20px;
}

.filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.nameFilter {
  min-width: 120px;
  max-width: 280px;
  margin-right: 35px;
  margin-bottom: 20px;
}

.tagFilter {
  max-width: fit-content;
  min-width: 280px;
  margin-right: 35px;
  margin-bottom: 20px;
}
