.errorWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.reloadInfo {
  font-size: 18px;
  padding: 25px;
}

.reloadButton {
  margin-top: 30px;
}
