@import 'src/shared/styles/varables.scss';

.abilitiesInfo {
  margin-bottom: 40px;
}

.abilitiesGroup {
  display: flex;
}

.abilityItem {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin-right: 15px;

  font-size: var(--font-size-normal);

  &:last-child {
    margin-right: 0;
  }
}
